* {
  text-align: center;
  box-sizing: border-box;
  color: rgb(48, 48, 63);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
/* Header section */
.main-header {
  background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  letter-spacing: 2px;
}

.nav-createapp-btn {
  background-color: rgba(0, 255, 255, 0.627) !important;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-btn {
  font-size: 1rem !important;
  letter-spacing: 2px;
}

.header-message {
  color: #fff;
  font-size: 2.7rem;
  line-height: 1;
}

.resources-span,
.step-span,
.reasons-span,
.mobile-app,
.update-,
.clients-span,
.header-solutions,
.customers-span,
.connected {
  color: rgb(43, 43, 135);
  font-weight: 350;
}

.app-stats,
.closing-section {
  color: white;
  background-color: rgba(240, 255, 255, 0.91);
}

.app-steps {
  background-color: rgba(143, 143, 186, 0.299);
  color: #fff;
  text-align: center;
  padding: 0.2rem 1rem;
  font-size: 212px;
  padding-top: 5px;
}

.logo {
  color: #fff;
}

.header-buttons {
  gap: 3rem;
}

.get-in-touch {
  border-radius: 20px;
}

.app-assets {
  padding-bottom: 1px;
  background-color: rgba(240, 255, 255, 0.91);
}

.img-thumbnail {
  min-height: 30rem;
  max-height: 35rem;
}

.app-statements {
  text-align: center;
}

.wrench,
.gear,
.workspace {
  color: orange;
  margin-right: 16px;
  font-size: 28px;
}

.app-stats {
  padding: 2rem;
  justify-content: space-around;
}

.btns-container {
  display: flex;
  gap: 1rem;
}
/* stats section */
.app-stats {
  background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.bi-person,
.bi-box-arrow-down,
.bi-emoji-laughing,
.bi-headset {
  color: wheat;
  font-size: 2rem;
}

.app-stats p {
  font-size: 1rem;
  color: white;
}

.stats-number {
  font-weight: bold;
}

.bi-star {
  color: rgb(220, 136, 0);
  font-weight: bold;
}

.brands-logo {
  display: flex;
  gap: 4rem;
  filter: grayscale(100%);
}

.brand {
  width: 220px;
  height: 220px;
  gap: 2rem;
}

/* social media section */

.social-media {
  gap: 1.2rem;
}

.eventya-logo {
  width: 100px;
  height: 50px;
}

.facebook,
.instagram,
.linkedin,
.youtube {
  font-size: 50px;
}

/* About section */

.closing-section {
  background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutus-wrapper {
  margin: 3rem;
}

.legal-p,
.summary-p,
.solutions-p {
  color: rgb(43, 43, 135);
  font-weight: 400;
  font-size: 1.2rem;
}

/* Media querries */
@media (max-width: 58em) {
  .header-message {
    font-size: 2rem;
  }

  .brands-logo {
    flex-direction: column;
    margin-top: 1.4rem;
  }
  .clients {
    flex-direction: column;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 30em) {
  .header-message {
    font-size: 1.2rem;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .header-btn {
    font-size: 0.2rem;
  }

  .brands-logo {
    flex-direction: column;
    margin-top: 2rem;
  }
  .clients {
    flex-direction: column;
  }
}
